obj/*.o
topo/*
RND/*
RND
obj
geoSprint
sprint-2007.ntf
glibx-connex
*.txt
*.isp
RLT/*
NBSEG/*
*.res
!test.isp
!lFlat.res
!lSep.res
!topoFR10.isp
!topoEU328.isp
!test_topo_rand_zipf.isp
*.sr
#generate_random.c
#genTopoNonAlign.c
#randomSpread.c
#randomTopo.c
#scriptCstr.c
#test_align.c
#worstRandom.c
#worstSprint.c