obj/*.o
topo/*
RND/*
RND
obj
geoSprint
sprint-2007.ntf
glibx-connex
*.txt
*.isp
RLT/*
NBSEG/*
*.res
#generate_random.c
#genTopoNonAlign.c
#randomSpread.c
#randomTopo.c
#scriptCstr.c
#test_align.c
#worstRandom.c
#worstSprint.c